/* components */
@import "components/header.css";
@import "components/contents.css";

/* screens */
@import "screen/index.css";
@import "screen/todolist.css";
@import "screen/loginhome.css";
@import "screen/statistics.css";
@import "screen/timeplan.css";


@import "reset.css";


html{
    width: 100%;
    height: 100%;

}
.preload {
/* 
    /* transition: none !important;

    -webkit-transition: none !important;

    -moz-transition: none !important;

    -ms-transition: none !important;

    -o-transition: none !important;
    -webkit-animation: -up-center 110s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 110s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */

  }
body{

    min-width: 1000px;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans';
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.bold{
    font-weight: bold;
}
button[type="submit"]{
    padding: 0px 0px;
    border: none;
}
