<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/components/login.css"th:href="@{css/components/login.css}"></head>   
    <title>MyToDo - 로그인</title>
</head>
<body>
    <div class="header__container__titlemenu__title">
        <div><a href="home.html"th:href="@{/}">MyToDo</a></div>
    </div>
    <form class="form-login" th:action="@{/login}" th:object="${loginForm}" method="post">
        <div class="form-floating">
          <input type="text" class="form-control"  placeholder="id"th:field="*{loginId}">
          <label>아이디</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control"  placeholder="Password"th:field="*{password}">
          <label>비밀번호</label>
        </div>
        <div class="margin20"></div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> 아이디 저장
          </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>

        <div class="margin10"></div>
        <label>아이디가 없으신가요? &nbsp;&nbsp;</label><a href="signup.html" th:href="@{/signup}">회원가입</a>
        <div th:if="${#fields.hasErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"style="color: red">전체 오류 메시지</p>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022 MyToDo</p>
      </form>
</body>
</html>