<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyToDo - 여러분의 목표를 이루세요.</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <script
  src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
  integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
  crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/removetransition.js}" src="../static/js/removetransition.js"></script>

</head>

<body class="preload">
  <div class="header">
    <div class="space49"></div>
    <div class="header__container">
        <div class="header__container__titlemenu">
            <div class="header__container__titlemenu__title">
                <a href="home.html" th:href="@{/}"><span>MyToDo</span></a>
            </div>
            <div class="header__container__titlemenu__menu">
                <a href="todolist.html" th:href="@{/todolist}"><span>일정추가</span></a>
                <a href="statistics.html" th:href="@{/statistics}"><span >통계</span></a>
                <a href="timeplan.html" th:href="@{/timeplan}"><span>시간계획</span></a>
            </div>
        </div>
        <a href="login.html" th:href="@{/logout}">
            <div class="login">
                <span>로그아웃</span>
            </div>
        </a>
    </div>
</div>

    <div class="loginhome__contents">
        <div class="loginhome__title">이번주 일정 (<span th:text="${startDay}">startDate</span>~<span th:text="${endDay}">endDate</span>)</div>
        <div class="loginhome__contentcontainer__todolist">
            <div class="loginhome__contentcontainer__todolist__item " th:each="todoListItem,i:${todoList}">
                <a th:href="|/todolist/${todoListItem.getRegisterDate()}|">
                    <div>
                        <div class="loginhome__contentcontainer__todolist__item__title" th:text="${todoListItem.getRegisterDate()}">2021년 8월 15일</div>
                        <div class="loginhome__contentcontainer__todolist__item__content"th:text="${todoListItem.getTitle()}">테스트</div>
                        <div class="loginhome__contentcontainer__todolist__item__percentage"th:text="${todoListItem.getStatusPercentage()+'%'}">34%</div>
                    </div>
                </a>
            </div>
            <div class="todolist__contentcontainer__todolist__noitem" th:if="${todoList == null} or ${todoList.size() == 0}">
                <div>일정이 없습니다.</div>
            </div>
        </div>
        <div class="loginhome__title">이번주 완료한 일정 (<span th:text="${startDay}">startDate</span>~<span th:text="${endDay}">endDate</span>)</div>
        <div class="loginhome__contentcontainer__todolist">
            <div class="loginhome__contentcontainer__todolist__item " th:each="todoListItem,i:${successFindItems}">
                <a th:href="|/todolist/${todoListItem.getRegisterDate()}|">
                    <div>
                        <div class="loginhome__contentcontainer__todolist__item__title" th:text="${todoListItem.getRegisterDate()}">2021년 8월 15일</div>
                        <div class="loginhome__contentcontainer__todolist__item__content"th:text="${todoListItem.getTitle()}">테스트</div>
                        <div class="loginhome__contentcontainer__todolist__item__percentage"th:text="${todoListItem.getStatusPercentage()+'%'}">34%</div>
                    </div>
                </a>
            </div>
            <div class="todolist__contentcontainer__todolist__noitem" th:if="${successFindItems == null} or ${successFindItems.size() == 0}">
                <div>완료한 일정이 없습니다.</div>
            </div>
        </div>
    </div>



</body>
<script type="text/javascript" th:src="@{/js/removetransition.js}" src="../static/js/removetransition.js"></script>
</html>