<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyToDo - 회원가입</title>
    <link rel="stylesheet" href="../static/css/components/signup.css"th:href="@{css/components/signup.css}"></head>    <title>Document</title>

</head>
<body class="preload">
    <div class="signupContainer">
        <div class="header__container__titlemenu__title">
            <div><a href="home.html"th:href="@{/}">MyToDo</a></div>
        </div>
        <form th:object="${signupForm}" action="home.html" th:action="@{/signup}" method="post">
            <div class="signupContainer__item">
                <div class="signupContainer__item__title">
                    <label th:for="loginId">아이디(6~12개의 영어문자로만 가입 가능합니다.)</label>
                </div>
                <input type="text" th:field="*{loginId}" placeholder="아이디를 입력하세요"></input>
            </div>
            <div class="signupContainer__item">
                <div class="signupContainer__item__title">
                    <label>비밀번호</label>
                </div>
                <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"></input>
            </div>
            <div class="signupContainer__item">
                <div class="signupContainer__item__title">
                    <label>이름</label>
                </div>
                <input type="text" th:field="*{name}" placeholder="이름을 입력하세요"></input>
            </div>
            <div class="signupContainer__item">
                <div class="signupContainer__item__title">
                    <label>성별</label>
                </div>
                <select th:field="*{sex}" >
                    <option th:value="none">선택안함</option>
                    <option th:value="man" >남자</option>
                    <option th:value="woman" >여자</option>


                </select>
            </div>
            <div class="signupContainer__item">
                <div class="signupContainer__item__title">
                    <label>email</label>
                </div>
                <input type="email"th:field="*{email}"placeholder="이메일을 입력하세요"></input>
            </div>
            <div class="signupContainer__item">
     
                <input type="submit" value="회원가입"></input>
            </div>
            <div th:if="${#fields.hasErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"style="color: red">전체 오류 메시지</p>
            </div>

        </form>
    </div>
</body>
<script type="text/javascript" th:src="@{js/removetransition.js}" src="../static/js/removetransition.js"></script>

</html>