<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyToDo - 시간계획</title>
    <link rel="stylesheet" href="../static/css/style.css"th:href="@{/css/style.css}">
    <script
  src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
  integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b3dd31cfb2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/timetablejs.css}" href="../static/css/timetablejs.css">
    <meta name="viewport" content="width=1190">


</head>

<body class="preload">
    <div class="header">
        <div class="space49"></div>
        <div class="header__container">
            <div class="header__container__titlemenu">
                <div class="header__container__titlemenu__title">
                    <a href="home.html" th:href="@{/}"><span>MyToDo</span></a>
                </div>
                <div class="header__container__titlemenu__menu">
                    <a href="todolist.html" th:href="@{/todolist}"><span>일정추가</span></a>
                    <a href="statistics.html" th:href="@{/statistics}"><span >통계</span></a>
                    <a href="timeplan.html" th:href="@{/timeplan}"><span class="bold">시간계획</span></a>
                </div>
            </div>
            <a href="login.html" th:href="@{/logout}">
                <div class="login">
                <span>로그아웃</sapn>
                </div>
            </a>
        </div>
    </div>

    <div class="timeplan__contents">
        <div class="timeplanItem__contents__title">시간계획표</div>
        <div class="timetable"th:if="${timePlanItems.size() != 0}"></div>


        <div class="timeplan__contents__timeplanItem" th:each="timePlanItem:${timePlanItems}">
            <p th:text="${timePlanItem.getTitle()}">테스트 제목</p>
            <a th:href="|/timeplan/${timePlan.getId()}/delete/${timePlanItem.getId()}|" class="timeplan__contents__icon"><i class="fa-regular fa-trash-can"></i></a>

        </div>
        <div class="timeplan__contents__timeplan" th:if="${timePlanItems == null} or ${timePlanItems.size() == 0}">
            <p>저장된 일정이 없습니다.</p>
        </div>

    </div>
    <div class="todolist__contentcontainer__todolist__addbutton"><i class="fa-solid fa-plus"></i></div>
    <div class="todolist__contentcontainer__form">
        <form action="" method="post" th th:action="|/timeplan/${timePlan.id}/add|">
            <input th:name="title" type="text">
            <div class="todolist__contentcontainer__form__time">
                <span>시작시간 <input th:name="startTime" type="time"></span>
                <span>종료시간 <input th:name="endTime"type="time"></span>
            </div>
            <p th:id="error" style="color: red;"th:if="${error=='timeException'}">시간입력이 잘못되었습니다.</p>
            <p th:id="error" style="color: red;"th:if="${error=='titleNull'}">빈 문자열은 허용되지 않습니다.</p>


            <div class ="todolist__contentcontainer__form__buttons">
                <button class="todolist__contentcontainer__form__buttons__add">저장</button>
                <div class="todolist__contentcontainer__form__buttons__cancel">취소</div>
            </div>

        </form>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/removetransition.js}" src="../static/js/removetransition.js"></script>
<script type="text/javascript" th:src="@{/js/timeplan.js}" src="../static/js/timeplan.js"></script>
<script th:src="@{/js/timetable.js}" src="../static/js/timetable.js"></script>
<script th:inline="javascript">
    var timetable = new Timetable();

    timetable.setScope(0, 0);

    timetable.addLocations(/*[[${label}]]*/[1, 'Madrid', 'Los Angeles', 'London', 'New York', 'Jakarta', 'Tokyo']);

    /*[# th:each="d,index : ${data}"]*/
    timetable.addEvent(/*[[${d.title}]]*/,/*[[${index.count}]]*/, new Date(2015,7,/*[[${d.today}]]*/,/*[[${d.startHour}]]*/,/*[[${d.startMin}]]*/), new Date(2015,7,/*[[${d.nextDay}]]*/,/*[[${d.endHour}]]*/,/*[[${d.endMin}]]*/),"#");
    /*[/]*/


    var renderer = new Timetable.Renderer(timetable);
    renderer.draw('.timetable');
</script>




</html>